@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}


body{
    background-color: #F0F0F0;
}

/* ========================================
    header
========================================= */
header{
    max-width: 100%;
    height: 60px;
    background: #fff502;
    border: 1px solid #707070;
}
header h1{
    font-family: "Arial Rounded MT Bold";
    font-weight: normal;
    font-size: 25px;
    color: #000;
    text-align: center;
    line-height: 60px;
}
div#wrapper{
    width: 850px;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: #fff;
}
/* ========================================
    top
========================================= */
div#top{
    height: auto;
    padding: 100px 0px;
}
div#top h2{
    font-family: "Arial Rounded MT Bold";
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color: #000;
}
div#top h3{
    margin-top: 10px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    text-align: center;
    color: #000;
}
div#form{
    max-width: 100%;
    height: 200px;
}
div.btn{
    text-align: center;
}
button{
    font-size: 16px;
    width: 298px;
    height: 44px;
    border-radius: 22px;
    border: 1px solid #707070;
}

button#btn-twitter{
    color: white;
    background: #06bafc;
}    
button#btn-account{
    margin-top:20px;
    background: #fff502;
}
a#new_account{
    text-align: center;
    text-decoration: underline;
    font-size: 13px;
    display: block;
    margin-top: 15px;
}
/* ========================================
    contents
========================================= */
div#contents{
    max-width: 100%;
    height: auto;
    background: rgba(11, 11, 11, 0.05);
    padding-top: 30px;
    padding-bottom: 20px;

}
div#contents h2{
    
    font-family: "Arial Rounded MT Bold";
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: #000;
}
li{
    margin: 0 auto;
    width: 218px;  /* 実際の画像サイズ次第 */
    margin-bottom: 10px;
}

div.user{
    display: flex;
    margin-bottom: 3px;
}
img.user_pic{
    border-radius: 2em;
    display: block;
    border: 1px solid black;
    margin: 2px 5px 2px 1px;
}
p.user_name{
    font-family: "Hiragino Maru Gothic ProN";
    font-size: 15px;
    color: #000;
    display:inline-block;
    margin-top: 5px;
}

/* 
===========================
    top_login.blade.php
===========================
*/

div#top_login_top{
    padding-top: 100px;
    text-align: center;

}
div#top_login_top h1{
    font-family: "Hiragino Maru Gothic ProN";
font-weight: normal;
font-size: 24px;
text-align: center;
color: #000;
}
button#top_login_top_btn{
    width: 202.01px;
    height: 29.89px;
    background: #fff502;
    border: 1px solid #707070;
    margin-top: 100px;
}
div#top_login_center-title h3{ 
    margin-top: 15px;
    max-width: 100%;
    color: #fff;
    height: 34px;
    line-height: 34px;
    background: #000;
    padding-left: 80px;
}



/* 
===========================
    mypage
===========================
*/

div#mypage_top{
    text-align: center;
    height: auto;
    max-width: 100%;
    padding-top: 50px;
}
div#mypage_top h1{
    font-family: AppleSystemUIFont;
    font-weight: normal;
    font-size: 25px;
    color: #000;
}
div#mypage_top h2{
    font-family: AppleSystemUIFont;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    color: #000;
}
div#mypage-contents{
    max-width: 100%;
    height: auto;
}
div#mypage-user{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
div#mypage-btn{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
div#mypage-btn a{
    display: inline-block;
    width: 44.66px;
    height: 22px;
    border: 1px solid #707070;
    border-radius: 2em;
    text-decoration: none;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
    font-size: 10px;
    color: #ffffff;
    line-height: 22px;
}
a#edit{
    background: #e54616;
}
a#done{
    background: #1616e5;
}